<div class="product-list-container">
  <div class="product-list-header">
    <div class="container-add-btn">
      <button mat-fab class="add-product-btn" (click)="openDialog('create')">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <mat-form-field appearance="outline" class="search-bar">
      <mat-label>Buscar producto</mat-label>
      <input matInput type="text" [(ngModel)]="searchTerm" (input)="filtrarProductos()">
      <button mat-icon-button matSuffix (click)="searchTerm=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>


  <div class="product-grid">
    <div *ngFor="let product of filteredProducts" class="product-card">
      <img [src]="product.image" alt="{{product.name}}">
      <h3>{{ product.name }}</h3>
      <p>
        <span class="price">${{ product.price }}</span>
      </p>
      <div class="product-actions">
        <button mat-stroked-button color="accent" (click)="openDialog('edit', product)">Editar</button>
        <button mat-stroked-button color="warn" (click)="openDialog('delete', product)">Eliminar</button>
      </div>
    </div>
  </div>
</div>